<li>
	{{name}}

	<button class="devourBtn" data-id="{{id}}" data-devouredstate="{{devoured}}">
		{{#if devoured}}Eat me!{{else}}Make it again!{{/if}}
	</button>

	<button class="deleteBtn" data-id="{{this.id}}">DELETE!</button>
</li>
